# Compiled objects
*.o
*.so
*.a
*.lib
*.dll
*.pyc
*.exe

# Libtool
*.la
*.lo

# Autotools
.deps/
.libs/
/Makefile
/src/Makefile
/geany/Makefile
/plugins/Makefile
Makefile.in
/configure
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/config.log
/config.status
/config.h
/depcomp
/install-sh
/ltmain.sh
/m4/l*.m4
/missing
/libtool
/build-aux/
/src/plugin-config.h*
/src/stamp-h1

# Project-specific
/.backup/
/docs/build/*
/docs/buildpushdocs.sh
